<div class="about-container">
    <h1>About Us</h1>
    <div class="about-info">
        <p>Do you have a million-dollar idea but aren't sure if it's already been featured on Shark Tank?</p>
        <p>Well, we're here to help! Using Patent Finder, we take the stress away from any worries about patent infringement.</p>
        <p>No more concerns about being hunted down or receiving pesky cease-and-desist letters.</p>
        <p>With integrated APIs from sources like Google Patents, USPTO, and WIPO, we've compiled over 10 million registered patents worldwide.</p>
        <p>That way, you can move forward confidently, knowing your idea is legally protected.</p>
    </div>
</div>
