<div class="about-container">
    <h1>About Us</h1>
    <div class="about-info">
        <p>Do you have a million-dollar idea but aren't sure if it's already been featured on Shark Tank?</p>
        <p>Well, we're here to help! Using Patent Finder, we take the stress away from any worries about</p>
        <p>patent infringement. No more concerns about being hunted down or receiving pesky cease-and-desist</p>
        <p>letters. With integrated APIs from sources like Google Patents, USPTO, and WIPO, we've compiled</p>
        <p>over 10 million registered patents worldwide. That way, you can move forward confidently, knowing</p>
        <p>your idea is legally protected.</p>
    </div>
</div>

<div class="team-section">
    <h2 class="team-title">Meet Our Team</h2>
    <div class="team-container">
        <div class="team-row">
            <div class="team-box">
                <h3>Grayson Goates</h3>
                <p><strong>Email:</strong> ggoates&#64;leomail.tamuc.edu</p>
                <p><strong>Hometown:</strong></p>
                <p><strong>Major:</strong></p>
                <p><strong>Fun Fact:</strong></p>
            </div>
            <div class="team-box">
                <h3>Jack Drawert</h3>
                <p><strong>Email:</strong> jdrawert&#64;leomail.tamuc.edu</p>
                <p><strong>Hometown:</strong> Allen, Tx</p>
                <p><strong>Major:</strong> CIS</p>
                <p><strong>Fun Fact:</strong> I've beaten every COD zombies easter egg since BO3</p>
            </div>
        </div>
        <div class="team-row">
            <div class="team-box">
                <h3>Owen Brem</h3>
                <p><strong>Email:</strong> obrem&#64;leomail.tamuc.edu</p>
                <p><strong>Hometown:</strong></p>
                <p><strong>Major:</strong></p>
                <p><strong>Fun Fact:</strong></p>
            </div>
            <div class="team-box">
                <h3>Paul Yarwood</h3>
                <p><strong>Email:</strong> pyarwood&#64;leomail.tamuc.edu</p>
                <p><strong>Hometown:</strong></p>
                <p><strong>Major:</strong></p>
                <p><strong>Fun Fact:</strong></p>
            </div>
            <div class="team-box centered-box">
                <h3>Keyonna Hickman</h3>
                <p><strong>Email:</strong> khickman3&#64;leomail.tamuc.edu</p>
                <p><strong>Hometown:</strong></p>
                <p><strong>Major:</strong></p>
                <p><strong>Fun Fact:</strong></p>
            </div>
        </div>
    </div>
</div>
